<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden">Welcome to <span id="js-rotating">So Cool, Very awesome</span> World</h4>
  </div>
  <div class="user-content">
    <p>
      I am a Programmer.
    </p>
    <p>
      Interested in Search, Recommendation, Ads areas.
    </p>
  </div>
</div>